.chat-row, .eeusbqq4 {
    display: flex;
    margin: 5px;
    width: 100%;
    background-color: transparent;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble, .eeusbqq3 {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 0px 7px;
    max-width: 70%;
}

.ai-bubble, [aria-label="Chat message from assistant"] {
    background: rgb(240, 242, 246);
    border-radius: 10px;
}

/* aria-label="Chat message from user" */
.human-bubble, [aria-label="Chat message from user"] {
    background: linear-gradient(135deg, rgb(0, 178, 255) 0%, rgb(0, 106, 255) 100%); 
    color: white;
    border-radius: 20px;
}

.chat-icon, .eeusbqq0 {
    border-radius: 5px;
}